body {
    background-color: #2d2a29;
    color : white;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}
nav {
    background-color: #0f0f0f;
    gap: 30px;
    display: flex;
    padding: 15px 30px;
}
nav a {
    text-decoration: none;
    color: white;
}
header {
    text-align: center;
    border-bottom: 2px solid #e94560;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
h1 {
    color : #e94560;
    font-size: 42px;
}
h2 {
    color: #e94560;
}
p {
    font-size: 20px;
}
ul {
    line-height: 2;
}
.cartes {
    display : flex;
    gap: 20px;
}
.carte {
    background-color: #16213e;
    padding : 20px;
    border-radius : 8px;
    flex : 1;
    border-top: 3px solid red;
    text-align : center;
    transition: transform 0.3s;
}
.carte:hover {
    transform: translateY(-5px);
}
.region {
    font-size: 16px;
    color : #cdd0cf;
}